
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="static/css/styles.css">
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<body class="main--div">
<h2>Create New User</h2>
<form action="/users/create" method="post" th:object="${user}" id="userForm">

    <label for="firstName">First name:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
    <br> <br>
    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
    <br> <br>
    <label class="email" for="email">E-mail:</label>
    <input type="text" th:field="*{email}" id="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
    <br> <br>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
    <br><br>

    <button class="button--task" type="submit">Register</button>
    <button class="button--clear--task" type="reset" form="userForm">Clear</button>



</form>
</body>
</html>