<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="static/css/styles.css">
<head>
    <meta charset="UTF-8">
    <title>All ToDo lists of User</title>

</head>
<body class="main--div">

<h1>All ToDo Lists</h1>
<div class="text-end mb-3">
    <a href="create-todo.html" th:href="/todos/create/users/${user.id}" class="btn btn-primary">Create New ToDo List</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>No.</th>
        <th>ID</th>
        <th>Title</th>
        <th>Created At</th>
        <th>Owner</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo, todoStat : ${todos}">
        <td th:text="${todoStat.count}">1</td>
        <td th:text="${todo.id}">10</td>
        <td class="text-title">
            <a th:text="${todo.title}" href="/todos/${todo.id}/tasks" class="btn btn-link">Nick's ToDo #1</a>
        </td>
        <td th:text="${todo.createdAt}">16.09.2020 14:14</td>
        <td th:text="${todo.owner.firstName + ' ' + todo.owner.lastName}">Nick Green</td>
        <td class="text-end">
            <a href="update-todo.html"
               th:href="@{|/todos/${todo.id}/update/users/${todo.owner.id}|}"
               class="btn-sm btn-outline-secondary"
               title="Edit ToDo List">
                <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>

            <a href="redirect:/todos/all/users/" + ownerId
               th:href=/todos/${todo.id}/delete/users/${todo.owner.id}"
               class="btn-sm btn-outline-danger"
               title="Delete ToDo List">
                <i class="bi-x"></i><span class="d-none d-md-inline">&nbsp;Delete</span></a>
        </td>

    </tr>
    <tr th:remove="all">
        <td>2</td>
        <td>12</td>
        <td class="text-title">
            <a th:text="${todo.title}" href="/todos/${todo.id}/tasks" class="btn btn-link">Nora's ToDo #1</a>
        </td>
        <td>16.09.2020 14:15</td>
        <td>Nora White</td>
        <td class="text-end">
            <a href="update-todo.html"
               th:href="@{|/todos/${todo.id}/update/users/${todo.owner.id}|}"
               class="btn-sm btn-outline-secondary"
               title="Edit ToDo List">
                <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>

            <a href="redirect:/todos/all/users/" + ownerId
               th:href=/todos/${todo.id}/delete/users/${todo.owner.id}"
               class="btn-sm btn-outline-danger"
               title="Delete ToDo List">
                <i class="bi-x"></i><span class="d-none d-md-inline">&nbsp;Delete</span></a>
        </td>
    </tr>
    <tr th:remove="all">
        <td>3</td>
        <td>7</td>
        <td class="text-title">
            <a th:text="${todo.title}" href="/todos/${todo.id}/tasks" class="btn btn-link">Mike's ToDo #1</a>
        </td>
        <td>16.09.2020 14:00</td>
        <td>Mike Brown</td>
        <td class="text-end">
            <a href="update-todo.html"
               th:href="@{|/todos/${todo.id}/update/users/${todo.owner.id}|}"
               class="btn-sm btn-outline-secondary"
               title="Edit ToDo List">
                <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>

            <a href="redirect:/todos/all/users/" + ownerId
               th:href=/todos/${todo.id}/delete/users/${todo.owner.id}"
               class="btn-sm btn-outline-danger"
               title="Delete ToDo List">
                <i class="bi-x"></i><span class="d-none d-md-inline">&nbsp;Delete</span></a>
        </td>
    </tr>
    <tr th:remove="all">
        <td>4</td>
        <td>11</td>
        <td class="text-title">
            <a th:text="${todo.title}" href="/todos/${todo.id}/tasks" class="btn btn-link">Nick's ToDo #2</a>
        </td>
        <td>16.09.2020 14:15</td>
        <td>Nick Green</td>
        <td class="text-end">
            <a href="update-todo.html"
               th:href="@{|/todos/${todo.id}/update/users/${todo.owner.id}|}"
               class="btn-sm btn-outline-secondary"
               title="Edit ToDo List">
                <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>

            <a href="redirect:/todos/all/users/" + ownerId
               th:href=/todos/${todo.id}/delete/users/${todo.owner.id}"
               class="btn-sm btn-outline-danger"
               title="Delete ToDo List">
                <i class="bi-x"></i><span class="d-none d-md-inline">&nbsp;Delete</span></a>
        </td>
        </td>
    </tr>
    </tbody>
</table>

<footer>
    <hr/>
    <p class="text-center">team_3_01 &copy; 2023 ToDo list</p>
</footer>

</body>
</html>